@-webkit-keyframes toast-show {
  /* line 20, ../../src/scss/toast.scss */
  50% {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    color: white; }

  /* line 21, ../../src/scss/toast.scss */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    color: white; } }

@-moz-keyframes toast-show {
  /* line 26, ../../src/scss/toast.scss */
  50% {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    color: white; }

  /* line 27, ../../src/scss/toast.scss */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    color: white; } }

@-ms-keyframes toast-show {
  /* line 32, ../../src/scss/toast.scss */
  50% {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    color: white; }

  /* line 33, ../../src/scss/toast.scss */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    color: white; } }

@-o-keyframes toast-show {
  /* line 38, ../../src/scss/toast.scss */
  50% {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    color: white; }

  /* line 39, ../../src/scss/toast.scss */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    color: white; } }

@keyframes toast-show {
  /* line 44, ../../src/scss/toast.scss */
  50% {
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
    transform: scaleX(1.2);
    color: white; }

  /* line 45, ../../src/scss/toast.scss */
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    color: white; } }

/* line 56, ../../src/scss/toast.scss */
.toast {
  pointer-events: none;
  padding: 15px 20px;
  background-color: #7f7f7f;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  border-color: #000;
  z-index: 1000; }
  /* line 72, ../../src/scss/toast.scss */
  .toast.animate {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
    /* line 76, ../../src/scss/toast.scss */
    .toast.animate.bounce {
      -webkit-animation: toast-show 0.4s;
      -moz-animation: toast-show 0.4s;
      -ms-animation: toast-show 0.4s;
      -o-animation: toast-show 0.4s;
      animation: toast-show 0.4s;
      -webkit-transition: border-color 0.4s;
      -moz-transition: border-color 0.4s;
      -ms-transition: border-color 0.4s;
      -o-transition: border-color 0.4s;
      transition: border-color 0.4s;
      border-color: #fff; }
    /* line 85, ../../src/scss/toast.scss */
    .toast.animate.show {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
    /* line 89, ../../src/scss/toast.scss */
    .toast.animate.shown {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }
      /* line 93, ../../src/scss/toast.scss */
      .toast.animate.shown.hide {
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
